body {
  background-color: #15173b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232e3044' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23454555'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
.App {
  text-align: center;
  /*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
}

.search-form{
  min-height: 10vh;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  margin: 10px;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 0.8cm;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.search-bar:focus{
  color: #00B4CC;
}

.search-button {
	box-shadow:inset 0px -4px 13px 2px #3a9421;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:17px;
	border:1px solid #3f8f2f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:18px;
	padding:9px 45px;
	text-decoration:none;
	text-shadow:0px -1px 4px #2f6627;
  margin: 15px;
  width: 13%;
}
.search-button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.search-button:active {
	position:relative;
	top:1px;
}

.clear-button {
  width: 14%;
  margin: 20px;
	box-shadow:inset 0px -4px 13px 2px #94226c;
	background:linear-gradient(to bottom, #e68a8a 5%, #ff2929 100%);
	background-color:#e68a8a;
	border-radius:17px;
	border:1px solid #9e373e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:18px;
	padding:9px 45px;
	text-decoration:none;
	text-shadow:0px -1px 4px #662839;
}
.clear-button:hover {
	background:linear-gradient(to bottom, #ff2929 5%, #e68a8a 100%);
	background-color:#ff2929;
}
.clear-button:active {
	position:relative;
	top:1px;
}

.movies{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(45px + 2vmin);
  color: white;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;

  letter-spacing: 2px;
  word-spacing: 6px;
  font-weight: 700;
  text-decoration: none;
  font-style: oblique;
  font-variant: small-caps;
  text-transform: capitalize;
}

.App-link {
  color: #61dafb;
}

